body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #b8d6fa;
}

header {
  background-color: #0E1C2D; /* Default background for other pages */
  color: white;
  padding: 1.25rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.transparent-header {
  background-color: rgba(14, 28, 45, 0.9); /* Semi-transparent background for index.html */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.logo img {
  width: 50px;
  height: auto; /* Adjust as needed */
  margin-right: 0.75rem;
}

.logo h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;  
  margin: 0;
  color: white;
  letter-spacing: 0.20rem;
  white-space: nowrap; /* Keep text in one line */
}

.vertical-line {
  display: inline-block;
  font-size: 2rem;
  transform: scaleY(1.35); /* Extend vertical line */
}

.vertical-line span {
  display: block;
}

.vertical-fx {
  display: inline-block;
  line-height: 0.85rem;
  font-size: 0.85rem;
}

.vertical-fx span {
  display: block;
}

nav .nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

nav .nav-links li {
  display: inline;
  margin: 0 1rem;
}

nav .nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav .nav-links a:hover {
  color: #F36E26;
}

nav .nav-links a.active {
  color: #F36E26; /* Orange color for the active link */
  font-weight: bold; /* Optional: makes the active link bold */
}

/* Hamburger menu */
.hamburger {
  background-color: rgba(32, 60, 93, 0.8); /* Semi-transparent background */
  position: absolute;
  left: 20px;
  display: none;
  flex-direction: column;
  cursor: pointer;
  justify-content: center;
  z-index: 2000; /* Ensure it's above other elements */
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.active .line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .line:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* About section */
.about {
  padding: 7.5rem 0 6rem 2rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
}

.about img {
  width: 100%;
  height: auto;
  max-width: 612px;
  margin-right: 2rem;
  object-fit: cover; /* Maintain aspect ratio */
}

.about-text {
  width: 60%;
  padding-right: 20px; /* Added padding on the right */
}

.about-text b {
  font-weight: bold;
}

.about h2 {
  margin: 0;
  padding: 0;
}

/* Book list section */
.book-list {
  position: relative; 
  padding: 2rem 2rem 2rem 2rem;
}

.book-list h2 {
  text-align: center;
  margin-bottom: 2rem;
}

/* added */
.book-grid {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.book {
  background-color: #f0f0f0;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.book figure {
  width:80%;
  margin: 0;
  padding-bottom: 30px;
}

.book img {
  width: 110%;
  height: auto;
  margin-bottom: 1rem;
  margin: 0;
  padding: 20px 20px;
}

.book h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding-left: 60px;
}

.book p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding-left: 30px;
}

figcaption h4 {
  margin: 0;
  padding-top: 0;
  padding-left: 45px;

}

figcaption button {
  display: inline-block;
  margin-left: 30px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #1c4374;;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

figcaption button:hover {
  background-color: #7ab3fa; /* Change the background color on hover */
  color: #ffffff; /* Ensure text color is white */
  transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}


.book-grid .book {
  min-width: 25%;
  box-sizing: border-box;
  scroll-snap-align: start;
}

.slide-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 115, 0, 0.68);
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.left {
  left: 0;
}

.right {
  right: 0;
}


/* Modal styles */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 1024px) {

  .about {
    margin: 0;
    padding: 0px;
  }

  .about-container {
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  .about img {
    width: 100%;
    height: auto;
    padding-top: 130px;
    margin-right: 0;
  }

  .about-text {
    width: 65%;
    margin: 20px 0;
    padding-bottom: 20px;    
  }

  .book figure {
    width:75%;
    margin: 0;
  }  

}

@media (max-width: 768px) {
  header {
    background-color: #0E1C2D;  /* Solid background */
    color: white;
    padding: 0 0.75rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  nav {
    flex-direction: column;
    align-items: center; /* Centering menu items */
    padding-top: 20px;
    padding-left: 30px; /* Ensure menu items are clear of hamburger icon */
    padding: 1.6rem 0;
  }

  nav .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: rgba(32, 60, 93, 0.8); /* Semi-transparent background */
    position: absolute; /* Keep dropdown positioned correctly */
    top: 48%; /* Align dropdown below the header */
    left: 0.15%; /* Align dropdown to the left */
    right: 90%;
    padding: 0;
    padding-top: 22px;
    padding-bottom: 20px;
    margin: 10px 20px;
    width: 40%;
    height: auto;
  }

  nav .nav-links li {
    padding-bottom: 20px;
  }  

  nav .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .about {
    padding: 0.5rem 2rem 0rem 2rem;
  }

  .about-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .about img {
    width: 100%;
    height: auto;
    margin-right: 0;
  }

  .about-text {
    width: 100%;
    padding:0;
    margin: 20px 0;
  }

  .book figure {
    width:80%;
    margin: 0;
    padding: 10px 10px 30px 2px;
  }
  
  .book-grid { 
    display: block; 
    scroll-snap-type: none; 
  } 
  
  .book-grid .book { 
    min-width: 100%; 
  } 
  
  .slide-control { 
    display: none;
  }

}

/* Main content */
main {
  padding: 0;
}

.video-container {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

#background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.video-overlay h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.1rem;
}

.video-overlay p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

/* Features section */
.features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  background-color: #000000;
  color: white;
}

.feature {
  text-align: center;
  max-width: 500px;
}

.feature img {
  width: 50px;
  height: auto;
  margin-bottom: 1rem;
}

.feature h3 {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

/* Footer */
footer {
  font-size: 0.75rem;
  background-color: #0E1C2D;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
